* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272823;
  color: #eee;
}

.container {
  display: grid;
  grid-template-areas: "menu content";
  grid-template-columns: 2fr 2fr;
  padding: 1rem;
}

.container > div.map-container {
  grid-area: menu;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

#map-display {
  font-size: 1.5rem;
}

#legend {
  font-size: 2rem;
  padding: 10px;
  font-family: "Homemade Apple", cursive;
}

.symbol-container {
  margin-top: 1rem;
  font-family: "Patrick Hand", cursive;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 10rem;
}

.symbol-container .symbol {
  font-weight: bold;
  font-size: 2rem;
}

.symbol-container span {
  margin-right: 0.5rem;
}

.symbol-slot {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 1rem;
  text-align: center;
  margin-right: 0.2rem;
  font-weight: bold;
  cursor: text;
}

#journal-content {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.6;
  opacity: 0.9;
}

#journal-date {
  font-size: 2rem;
  font-weight: 800;
}

#narrative-content {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

#second-journal-date {
  font-size: 2rem;
  font-weight: 800;
  padding-top: 2rem;
}

#second-narrative-content {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

#second-narrative-content,
#second-journal-date {
  opacity: 0;
  transition: opacity 1s ease-in;
  display: none;
}

.fade-in {
  display: block;
  opacity: 1;
}

#button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#option-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #272823;
  color: #eee;
  border: 2px solid #eee;
}
